# Read different types of files using Pandas

### JSON data

In [1]:
exercise = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

In [2]:
# importing module
import pandas as pd

In [3]:
# Read the JSON Data from local using DataFrame 
data_frame = pd.DataFrame(exercise)
print(data_frame)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [4]:
# Save the JSON data to a file (example.json)
data_frame.to_json('example.json')

In [18]:
# Read the JSON Data from a file using read_json
read_data = pd.read_json('example.json')
print(read_data)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

### XML File

In [17]:
# importing module
import xml.etree.ElementTree as ET

In [7]:
# Parse the XML File
tree = ET.parse('library.xml')
root = tree.getroot()

In [13]:
# Create a list to store dictionaries representing each book
books_list = []

# Iterate through each <book> element
for book_elem in root.findall('.//book'):
    book_dict = {}
    book_dict['id'] = book_elem.get('id')
    
    # print(book_dict) # return the id of the books
    # print(book_elem) # return the address of the books

    for child_elem in book_elem:
        book_dict[child_elem.tag] = child_elem.text
    print(book_dict)
    books_list.append(book_dict)

{'id': '1', 'title': 'Python for Data Science', 'author': 'John Doe', 'genre': 'Data Science', 'price': '29.99'}
{'id': '2', 'title': 'Machine Learning Basics', 'author': 'Jane Smith', 'genre': 'Machine Learning', 'price': '39.99'}

In [14]:
print(books_list)

[{'id': '1', 'title': 'Python for Data Science', 'author': 'John Doe', 'genre': 'Data Science', 'price': '29.99'}, {'id': '2', 'title': 'Machine Learning Basics', 'author': 'Jane Smith', 'genre': 'Machine Learning', 'price': '39.99'}]

In [15]:
# Create a Pandas DataFrame from the list of dictionaries
df = pd.DataFrame(books_list)

# Display the DataFrame
print(df)

  id                    title      author             genre  price
0  1  Python for Data Science    John Doe      Data Science  29.99
1  2  Machine Learning Basics  Jane Smith  Machine Learning  39.99

### HTML file

In [16]:
df_list = pd.read_html("employee.html")    # invoking read_html() to load employee.html file
print(df_list)    # print out parsed html file data as data frames

[    Name  Age  Salary
0   John   24   20000
1   Adam   31   35000
2  Chris   27   32000]